node_modules/
**/node_modules/

# Dependencies / builds
vendor/
**/vendor/
dist/
**/dist/
public/build/
**/public/build/

# Env files
.env
**/.env
.env.*
**/.env.*

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

